*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: white;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

main{
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 840px;
}

form{
  background-color: #eeeeee;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 6px;
  padding: 10px;
}

strong{
  color: #000086;
  font-size: 25px;
}

label{
  font-size: 20px;
}

button{
  width: 560px;
  background-color: #000080;
  color: #f9f8ff;
  border: none;
  border-radius: 6px;
  padding: 4px;
  font-size: 15px;
}

button:focus{
  background-color: #0000f0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

header, footer {
  max-width: 840px;
  margin: 0 auto;
}


/* classes */

.q1, .q2, .q3, .q4{
  display: flex;
  flex-direction: column;
  padding: 10px
}

.q4 img{
  max-width: 300px;
  height: auto;
  margin: 5px auto 5px;
}

.button{
  display: flex;
  justify-content: center;
}
